body {
    background-color: rgb(41, 101, 121);
}
h1 {
    color: rgb(8, 3, 70);
    margin-left: 20px;
}

p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.kotak{
    padding: 20px;
    width: fit-content;
    color: white;
    margin: 10px;
    background: rgb(46,139, 214);
}

#persegi{
    padding: 40x;
    width: fit-content;
    color: white;
    margin: 10px;
    background: rgb(150, 45, 97);
}